/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/
:root {
  /* typography */
  --global-root-font-size: 16;
  /* colors*/
  --global-color-alpha: #b669bf;
  --global-color-x-alpha: #B669BF;
  --global-color-dark: #585059;
  --global-color-x-dark: #4c454d;
  --global-color-x-light: #fcf9fc;
  --global-color-light: #fcf7fc;
  --global-color-black: #19171a;
  --global-background: var(--global-color-light);
  --global-background-card: var(--global-color-x-light);
  --global-color-text: var(--global-color-black);
  --global-color-ball:#8B7E8C;

  --global-baseline: calc(1rem / 2); /*8px*/
  --global-whitespace-xxs: calc(var(--global-baseline) / 2); /*4px*/
  --global-whitespace-xs: calc(var(--global-baseline)); /*8px*/
  --global-whitespace-sm: calc(var(--global-baseline) * 2); /*16px*/
  --global-whitespace-md: calc(var(--global-baseline) * 3); /*24px*/
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*32px*/
  --global-whitespace-xl: calc(var(--global-baseline) * 5); /*40px*/

  /* Shadows */
  --global-box-shadow-light: 0 0 0 1px #d7c3d9;
  --global-box-shadow-dark: 0 0 0 1px #716773;
  --global-box-shadow: var(--global-box-shadow-light);
}
/*------------------------------------*\
#GENERIC
\*------------------------------------*/
* {
  box-sizing: border-box;
}
html {
  font-family: 'semplicitapro', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  height: 100%; 
  width: 100%; 
  overflow: auto; 
}

body {
  height: 100%; 
  width: 100%; 
  overflow: auto;
}

img {
  max-width: 100%;
  border-radius: 50%;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

.checkbox {
  opacity: 0;
  position: relative;
}

.label {
  background-color: var(--global-color-x-light);
  display: flex;
  border-radius: 50px;
  width: calc(var(--global-whitespace-xl) * 2);
  height: var(--global-whitespace-xl);
  padding: var(--global-whitespace-xs);
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.fa-moon {
  color: var(--global-color-x-alpha);
}

.fa-sun {
  color: var(--global-color-x-alpha);
}
.ball {
  background-color: var(--global-color-ball);
  position: absolute;
  width: var(--global-whitespace-lg);
  height: var(--global-whitespace-lg);
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(var(--global-whitespace-lg));
}
/*------------------------------------*\
#OBJECTS
\*------------------------------------*/
.o-row {
  position: relative;
  padding: var(--global-whitespace-xl) var(--global-whitespace-md) var(--global-baseline);
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 78em; /* 78 * 16px = 11248 */
  width: 100%;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
.c-site {
  min-height: 100%;
  margin-bottom: 0;
  background-color: var(--global-background);
  max-width: 100%;
}
.c-site__main{
    max-width: 100%;
  
}
.c-site--dark {
  --global-background-card: var(--global-color-dark);
  --global-background: var(--global-color-x-dark);
  --global-box-shadow: var(--global-box-shadow-dark);
  --global-color-text: var(--global-color-x-light);
}
.c-site__header {
  background-color: var(--global-color-alpha);
  height: calc(var(--global-whitespace-xl) * 3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--global-box-shadow);
  padding-left: var(--global-whitespace-md);
  padding-right: var(--global-whitespace-md);
}
.c-header-name {
  color: var(--global-color-x-light);
  font-size: var(--global-whitespace-xl);
  line-height: 60px;
  font-weight: 600;
}

.c-dashboard {
  display: grid;
  grid-template-rows: auto 225px 225px 225px;
  gap: var(--global-whitespace-sm);
  margin-bottom: var(--global-whitespace-xl);
  }
  @media screen and (min-width: 992px){
    .c-dashboard {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: var(--global-whitespace-xl);
      row-gap: var(--global-whitespace-md);
      margin-bottom: var(--global-whitespace-xl);
      } 
  }
.c-dashboard__item {
  box-shadow: var(--global-box-shadow);
  background-color: var(--global-background-card);
  padding: var(--global-whitespace-sm);
  border-radius: 2px;
  max-width: 100%;
  min-width: 100%;
}

.c-card {
  max-width: 100%;
  max-height: 100%;
}

.c-cardchart{
  position: relative;
  width: 100%;
  height: 100%;
}
.c-card--champs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: var(--global-whitespace-sm);
}

.c-card-picture {
  padding: var(--global-whitespace-sm);
  box-shadow: 3px 0 5px -5px var(--global-color-text);
}

.c-card-picture__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--global-whitespace-sm) var(--global-whitespace-sm);
  font-size: var(--global-whitespace-md);
  font-weight: 600;
  color: var(--global-color-text);
}

.c-card-pictire__img{
  min-width: 100%;
  min-height: 100%;
}


.c-card__body {
  display: flex;
  align-items: center;
  color: var(--global-color-text);
  font-size: calc(var(--global-baseline) * 2.5);
  font-weight: 400;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/
@media screen and (min-width: 992px){
  /*----------  u-champbox  ----------*/
  
    .u-champbox-1 {
      grid-column: 2;
      grid-row: 1/2;
    }
    .u-champbox-2 {
      grid-column: 2;
      grid-row: 2/3;
    }
    .u-champbox-3 {
      grid-column: 2;
      grid-row: 3/4;
    }
  
    /*----------  u-graph  ----------*/
  
    .u-graph {
      grid-column: 1;
      grid-row: 1/4;
    }
  }


/*------------------------------------*\
#MEDIA
\*------------------------------------*/

